<component name="libraryTable">
  <library name="mybatis-generator-core-1.3.5">
    <CLASSES>
      <root url="jar://G:/Java/资源/mybatis-generator-core-1.3.5.jar!/" />
      <root url="jar://G:/Java/资源/pagehelper-5.1.0-beta2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>